pipeline/pl_ingest_rest_to_adls.json
{
    "name": "pl_ingest_rest_to_adls",
    "properties": {
        "description": "Ingests market prices and portfolio valuations from the FinCore REST API simulator into ADLS raw zone as JSON files.",
        "parameters": {
            "p_load_date": {
                "type": "string",
                "defaultValue": "@formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd')"
            }
        },
        "variables": {
            "v_run_start": {
                "type": "String"
            }
        },
        "activities": [
            {
                "name": "set_run_start",
                "type": "SetVariable",
                "typeProperties": {
                    "variableName": "v_run_start",
                    "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "copy_market_prices",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "set_run_start",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "additionalHeaders": {
                            "Accept": "application/json"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureDataLakeStoreWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings",
                            "filePattern": "setOfObjects"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "ds_rest_market_prices",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_price_date": {
                                "value": "@pipeline().parameters.p_load_date",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_adls_json_sink",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_folder_path": {
                                "value": "@concat('raw/fincore/market_prices/', pipeline().parameters.p_load_date)",
                                "type": "Expression"
                            },
                            "p_file_name": {
                                "value": "@concat('market_prices_', pipeline().parameters.p_load_date, '.json')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "copy_portfolios",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "set_run_start",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "additionalHeaders": {
                            "Accept": "application/json"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureDataLakeStoreWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings",
                            "filePattern": "setOfObjects"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "ds_rest_portfolios",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_valuation_date": {
                                "value": "@pipeline().parameters.p_load_date",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_adls_json_sink",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_folder_path": {
                                "value": "@concat('raw/fincore/market_prices/', pipeline().parameters.p_load_date)",
                                "type": "Expression"
                            },
                            "p_file_name": {
                                "value": "@concat('portfolios_', pipeline().parameters.p_load_date, '.json')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "log_market_prices_success",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "copy_market_prices",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "dbo.usp_log_fincore_pipeline",
                    "storedProcedureParameters": {
                        "pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "source_name": {
                            "value": "market_prices_api",
                            "type": "String"
                        },
                        "status": {
                            "value": "SUCCESS",
                            "type": "String"
                        },
                        "rows_read": {
                            "value": {
                                "value": "@activity('copy_market_prices').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "rows_written": {
                            "value": {
                                "value": "@activity('copy_market_prices').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "error_message": {
                            "value": "",
                            "type": "String"
                        },
                        "run_start": {
                            "value": {
                                "value": "@variables('v_run_start')",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "run_end": {
                            "value": {
                                "value": "@utcNow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "load_date": {
                            "value": {
                                "value": "@pipeline().parameters.p_load_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_sql_de",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "log_portfolios_success",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "copy_portfolios",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "dbo.usp_log_fincore_pipeline",
                    "storedProcedureParameters": {
                        "pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "source_name": {
                            "value": "portfolios_api",
                            "type": "String"
                        },
                        "status": {
                            "value": "SUCCESS",
                            "type": "String"
                        },
                        "rows_read": {
                            "value": {
                                "value": "@activity('copy_portfolios').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "rows_written": {
                            "value": {
                                "value": "@activity('copy_portfolios').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "error_message": {
                            "value": "",
                            "type": "String"
                        },
                        "run_start": {
                            "value": {
                                "value": "@variables('v_run_start')",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "run_end": {
                            "value": {
                                "value": "@utcNow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "load_date": {
                            "value": {
                                "value": "@pipeline().parameters.p_load_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_sql_de",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "log_market_prices_failure",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "copy_market_prices",
                        "dependencyConditions": ["Failed"]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "dbo.usp_log_fincore_pipeline",
                    "storedProcedureParameters": {
                        "pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "source_name": {
                            "value": "market_prices_api",
                            "type": "String"
                        },
                        "status": {
                            "value": "FAILED",
                            "type": "String"
                        },
                        "rows_read": {
                            "value": "0",
                            "type": "Int32"
                        },
                        "rows_written": {
                            "value": "0",
                            "type": "Int32"
                        },
                        "error_message": {
                            "value": {
                                "value": "@activity('copy_market_prices').error.message",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "run_start": {
                            "value": {
                                "value": "@variables('v_run_start')",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "run_end": {
                            "value": {
                                "value": "@utcNow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "load_date": {
                            "value": {
                                "value": "@pipeline().parameters.p_load_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_sql_de",
                    "type": "LinkedServiceReference"
                }
            }
        ]
    }
}