adf/pipeline/pl_config_driven_ingest.json
{
	"name": "pl_config_driven_ingest",
	"properties": {
		"description": "For config driven pipelines",
		"activities": [
			{
				"name": "lookup_ingestion_config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set_run_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_ingestion_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_config_rows",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_ingestion_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_ingestion_config').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "copy_source_to_adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_http_sales_csv",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@item().source_url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_raw_csv",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": {
											"value": "@item().target_folder",
											"type": "Expression"
										},
										"p_filename": {
											"value": "@item().target_filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "log_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_source_to_adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_log_pipeline]",
								"storedProcedureParameters": {
									"error_message": {
										"value": "",
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "@activity('copy_source_to_adls').output.dataRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"run_end": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_start": {
										"value": {
											"value": "@variables('v_run_start')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"source_name": {
										"value": {
											"value": "@item().source_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_de",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "log_failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_source_to_adls",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_log_pipeline]",
								"storedProcedureParameters": {
									"error_message": {
										"value": {
											"value": "@activity('copy_source_to_adls').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": "0",
										"type": "Int32"
									},
									"run_end": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_start": {
										"value": {
											"value": "@variables('v_run_start')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"source_name": {
										"value": {
											"value": "@item().source_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_de",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "set_run_start",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_start",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_load_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_run_start": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-12T21:21:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}